.contato {
    background-color: orangered;
    width: 500px;

    h1 {
        margin-left: 30px;
        margin-top: 20px;
    }

    border-radius: 50px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}